@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterLayout.cshtml";
}

<div class="homepage-headings box-padding">
	<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</h1>
	<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</h2>
	<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</h3>
	<h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</h4>
</div>
