@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "MasterLayout.cshtml";
}

<div class="homepage-headings box-padding">
	<h1>This is title test for color primary</h1>
	<h2>This is title test for color secondary</h2>
	<h3>This is title test for color tertiary</h3>
</div>
