@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "childPageLayout.cshtml";
}


<div class="error-page container">
    <div class="internal-server-error-page">
        <div class="error-section">
            <h1 class="error-title page-title">500</h1>
            <h3>Internal Server Error</h3>
            <div class="error-content">
                <p>We apologize for the inconvenience. Please try again later.</p>
            </div>
        </div>
    </div>
</div>